
.my-background {
    -fx-background-color: #d64c1a;
}

.my-button {
    -fx-background-color: #7a19e1;
    -fx-text-fill: white;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 80;
    -fx-max-height: 80;
    -fx-background-radius: 50;
}

.my-button:hover {
    -fx-background-color: #196c77; /* Color de fondo al pasar el mouse */
}